
<div class="ui grid internally celled">
	<div class="row center aligned">
    <div class="three wide column">
    	<h1 class='ui center aligned header'><%= @tado.get_indoor_temp %>&#8451;</h1>
      <h3 class='ui center aligned header'>Indoor Temp</h3>
    </div>
    <div class="three wide column">
    	    <h1 class='ui center aligned header'><%= @tado.get_outdoor_temp %>&#8451;</h1>
      		<h3 class='ui center aligned header'>Outdoor Temp</h3>
    </div>
    <div class="three wide column">
    		<i class="wi-4x wi wi-<%= weather_icon(@tado.get_home_weather) %>"></i>
      		<h3 class='ui center aligned header'>Weather</h3>
    </div>

    <div class="three wide column">
      <i class="huge icon <%= @tado.get_device_status("Jon's Phone") %>"></i>
      <h3 class='ui center aligned header'>Jon</h3>
    </div>
    <div class="three wide column">
      <i class="huge icon <%= @tado.get_device_status("Sally's Phone") %>"></i>
      <h3 class='ui center aligned header'>Sally</h3>
    </div>

    <div class="three wide column">
      <h1 id="clock"></h1>
    </div>

  </div>

</div>