
<div id="dashboard">

  <div id="indoor_temp_div"><span id="indoor_temp"><%= @tado.get_indoor_temp %></span>&#8451;</div>
  <div id="outdoor_temp_div"><span id="outdoor_temp"><%= @tado.get_outdoor_temp %></span>&#8451;</div>

  <div id="home_status">
    <div id="jon_status"><%= fa_icon @tado.get_device_status("Jon's Phone") + " 4x" %></div>

    <div id="sally_status"><%= fa_icon @tado.get_device_status("Sally's Phone") + " 4x" %></div>
  </div>


  <div id="weather"><i id="weather_icon" class="wi-6x wi wi-<%= weather_icon(@tado.get_home_weather) %>"></i></div>

  <div id="clock-and-date">
    <h1 id="clock"></h1>
    <h3 id="day"></h3>
    <h1 id="date"></h1>
  </div>

  <div id="stats"></div>

</div>